<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PrepaidCard</servlet-name>
		<servlet-class>prepaidCard.PrepaidCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrepaidCard</servlet-name>
		<url-pattern>/prepaidcard</url-pattern>
	</servlet-mapping>
	
	<servlet>
  		<servlet-name>payment</servlet-name>
  		<servlet-class>prepaidCard.SavePaymentServlet</servlet-class>
 	</servlet>
 	<servlet-mapping>
  		<servlet-name>payment</servlet-name>
  		<url-pattern>/payment</url-pattern>
 	</servlet-mapping>
	
	<servlet>
  		<servlet-name>purchase</servlet-name>
  		<servlet-class>prepaidCard.SavePurchaseServlet</servlet-class>
 	</servlet>
 	<servlet-mapping>
  		<servlet-name>purchase</servlet-name>
  		<url-pattern>/purchase</url-pattern>
 	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
